In [60]:
import pandas as pd
import datetime
import numpy as np

In [2]:
raw11 = pd.read_csv("/home/tanyx/dataDemo/campus2018/11.csv")

In [47]:
raw11.head()

   phone_id     time_stamp  loc_id
0  31277846  2017-11-01 00       1
1  24414568  2017-11-01 00       1
2  28544981  2017-11-01 00       1
3  27561258  2017-11-01 00       1
4   5582896  2017-11-01 00       1

In [ ]:
raw11["datetime"] = raw11.apply(lambda x: datetime.datetime.strptime(x["time_stamp"], "%Y-%m-%d %H"), axis=1)
raw11["month"] = raw11.apply(lambda x: x["datetime"].month, axis=1)
raw11["day"] = raw11.apply(lambda x: x["datetime"].day, axis=1)
raw11["hour"] = raw11.apply(lambda x: x["datetime"].hour, axis=1)

In [22]:
data = {}
for i in range(len(raw11)):
    time_stamp = raw11.loc[i,"time_stamp"]
    loc_id = int(raw11.loc[i, "loc_id"])
    if time_stamp not in data:
        data[time_stamp] = [ 0 for i in range(34)]
    data[time_stamp][loc_id] += 1

In [52]:
f_list = []
for k, loc_ids in data.items():
    date_time = datetime.datetime.strptime(k, "%Y-%m-%d %H")
    for i in range(1,34):
        f_list.append([i, k, loc_ids[i], date_time, date_time.month, date_time.day, date_time.hour, date_time.day//7, date_time.weekday()])

In [53]:
frame = pd.DataFrame(f_list, columns=["loc_id", "time_stamp", "num_of_people", "datetime", "month", "day", "hour", "week", "week_day"])

In [55]:
#loc_id	time_stamp	num_of_people	datetime	month	day	hour	week	week_day
frame = frame.sort_values(by=["day", "hour", "loc_id"])

In [58]:
frame.shape

(23001, 9)

9 99
10 726
should: 792

In [62]:
num_nan = 0
n_frames = []
print(len(frame))
for day in range(1, 31):
    for hour in range(24):
        for loc_id in range(1,34):
            if len(frame[(frame["day"]==day)&(frame["hour"]==hour)&(frame["loc_id"]==loc_id)]) == 0:
                date_time = datetime.datetime(2017,11,day,hour,0,0)
                time_stamp = date_time.strftime("%Y-%m-%d %H")
                num_of_people = frame[(frame["week_day"]==date_time.weekday())&(frame["hour"]==hour)&(frame["loc_id"]==loc_id)]["num_of_people"].mean()
                if num_of_people is np.nan:
                    num_of_people = 0
                    num_nan+=1
                n_frames.append([loc_id,time_stamp, num_of_people,date_time, 11,day, hour, day//7, date_time.weekday()])

23001

In [63]:
n_f = pd.DataFrame(n_frames,columns=frame.columns)
print(n_f.shape)
frame = pd.concat([frame, n_f], ignore_index=True).sort_values(by=["month","day","hour","loc_id"])
print(frame.shape)

(759, 9)
(23760, 9)

In [71]:
frame.to_csv("/home/tanyx/dataDemo/campus2018/holiday_fix_diff11.csv", index=False)

In [65]:
frame1_10 = pd.read_csv("/home/tanyx/dataDemo/campus2018/holiday_fix_diff1_10.csv")
frame_all = pd.concat([frame,frame1_10], ignore_index=True).sort_values(by=["month","day","hour","loc_id"])

In [67]:
23760 + 195949

219709

In [72]:
frame_all.to_csv("/home/tanyx/dataDemo/campus2018/holiday_fix_diff_all.csv", index=False)